*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:aqua;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

body section button{
    background-color: rgb(54, 54, 148);
    color: antiquewhite;
    width: 100px;
    height: 40px;
}

footer a img{
    width: 40px;
    margin: 5px;
}